/** Some general overrides for WooCommerce styles. */

@use "../notices";

.newspack-ui {
	label .optional {
		color: var(--newspack-ui-color-neutral-60);
		font-weight: 400;
	}

	&__modal--small {
		form p {
			margin: 0 0 var(--newspack-ui-spacer-2);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.newspack-ui__input-card {
		label {
			display: block;
		}
	}

	.form-row.woocommerce-SavedPaymentMethods-saveNew {
		label {
			font-weight: normal;
		}
	}
	.woocommerce-notices-wrapper:not(:empty) {
		margin-bottom: var(--newspack-ui-spacer-6);

		> *:first-child {
			margin-top: 0;
		}
	}
	.newspack-wc-message,
	.woocommerce-message,
	.woocommerce-info,
	.woocommerce-error {
		@extend .newspack-ui__notice;
		display: block;
		list-style: none;
		margin: var(--newspack-ui-spacer-3) 0;

		> p:first-child {
			margin-top: 0;
			padding-top: 0;
		}

		> p:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	.newspack-wc-message,
	.woocommerce-message {
		@extend .newspack-ui__notice--success;
	}
	.woocommerce-info {
		@extend .newspack-ui__notice--warning;
	}
	.newspack-wc-message--error,
	.woocommerce-error {
		@extend .newspack-ui__notice--error;
	}
	.woocommerce-NoticeGroup {
		.newspack-wc-message,
		.woocommerce-message,
		.woocommerce-info,
		.woocommerce-error {
			border: none !important;
		}
	}

	&.woocommerce-account.newspack-my-account {
		.woocommerce-message {
			.woocommerce-Button.button {
				background: transparent;
				border-radius: 0;
				color: inherit;
				float: none;
				font-size: inherit;
				font-weight: inherit;
				min-height: auto;
				padding: 0;
				text-decoration: underline;
			}
		}
	}
}

/** See #3292. */
.woocommerce-account {
	/** Inline sign up form max-width. */
	.woocommerce-notices-wrapper:has(+ .newspack-reader-auth__inline-wrapper),
	.newspack-reader-auth__inline-wrapper {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--newspack-ui-modal-width-s);
	}

	.newspack-reader-auth__inline-wrapper {
		h2 {
			font-size: var(--newspack-ui-font-size-m);
			font-weight: 600;
		}

		p {
			font-size: var(--newspack-ui-font-size-s);
		}
	}
	.woocommerce-account-join-team .woocommerce-privacy-policy-text {
		clear: both;
	}
}
