/**
 * Nextdoor Post Styles
 */

@use "~@wordpress/base-styles/colors" as wp-colors;

.nextdoor-sidebar {
	&__loading {
		padding: 1rem;
		text-align: center;
	}

	&__status-header {
		margin: 0;
		font-weight: 600;
		font-size: 16px;
		text-transform: capitalize;
	}

	&__status-text {
		margin: 0 0 1rem 0;
		font-size: 13px;
		color: wp-colors.$gray-600;

		&--default {
			color: inherit;
		}
	}

	&__description {
		margin: 0 0 1rem 0;
	}

	&__actions {
		display: flex;
		gap: 8px;

		.components-button {
			flex: 1;
			justify-content: center;
			min-height: 32px;
		}
	}

	&__error-list {
		margin: 0 0 1rem 1.5rem;
		padding: 0;
		list-style-type: disc;

		li {
			font-size: 13px;
			color: wp-colors.$alert-red;
			margin-bottom: 0.25rem;
		}
	}
}
